@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
  background: #1b2332;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #121a1e;
}

::-webkit-scrollbar-track {
  background-color: #616161;
}
